#testChatRoomRenderDiv {
  width: 100px;
	height: 100px;
	background-color: purple;
}

#usersContainer {
	/* margin: 0;
	width: 50%; */
	/* text-align: center; */
	position: relative;
	top: 100px;
	margin-bottom: 200px;
	/* margin: auto; */
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	width: 500px;
	/* max-height: 90%; */
  /* justify-content: center; */
	/* align-items: center; */ 
	/* width: 50%;
	height: 50%; */ 
}

#chatFooter {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 70px;
	background-color: rgb(230, 221, 221);
	bottom: 0;
	margin: auto;
	text-align: center;
}