.landingBox {
	background-color: rgb(104, 98, 98);
	/* background-color:rgba(255, 255, 255, 0.5); */
	/* background-image: url('https://static1.e926.net/data/8b/22/8b22c2b446f9f539693c305d7e599ef6.gif'); */
	/* background-image: url('https://pre00.deviantart.net/bd05/th/pre/f/2015/070/9/1/pixel_wallpaper_by_horrorfangirl-d8lb5c6.png'); */
	/* background-image:url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-310944.png'); */
	/* background-image:url('https://i.imgur.com/NNoFNWf.png'); */
	/* background:url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png); */
	background-size: 100% 100%;
	margin: auto;
	position: relative;
	width: 500px;
	height: 500px;
	border: 1px rgb(104, 98, 98) solid;
	box-shadow: 1px 1px 1px 1px #6d6c69;
	top: 70px;

	/* -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear; */
}

h1{
  text-align:center;
  color:#FFF !important;
  margin-top:10%;
  font:60px Lobster;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px 3000px;
  }
}

#loginForm {
	margin: auto;
	width: 50%;
	height: 50%;
}

#pokemonWrapper {
	margin: auto;	
}

#colorWrapper {
	position: absolute;
	margin: auto;
	top: 400;
	left: 18%;
}

#charmander {
	/* background-image: url('https://vignette.wikia.nocookie.net/pokemon/images/4/41/004Charmander_OS_anime_2.png/revision/latest?cb=20140603214909'); */
	background-image: url('https://media.giphy.com/media/aa8oyloCKilLW/giphy.gif');
	background-position: 40% 80%;
	background-size: 130px 130px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: inline-block;
} 

#squirtle {
	/* background-image: url('https://seeklogo.com/images/S/squirtle-logo-0E4AE193EE-seeklogo.com.png'); */
	background-image: url('https://vignette.wikia.nocookie.net/project-pokemon/images/8/85/Squritle.gif/revision/latest?cb=20160721141840');
	background-position: 40% 80%;
	background-size: 130px 130px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: inline-block;
} 

#pikachu {
	background-image: url('https://i.pinimg.com/originals/65/95/7d/65957d802d9046d0d8d9e13ceb3e8e6d.gif');
	/* background-position: 30% 50%; */
	background-size: 100px 100px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: inline-block;	
} 

#bulbasaur {
	background-image: url('http://pa1.narvii.com/5707/3ab7eaf896208ff835c71ec323627db336ba222b_00.gif');
	/* background-position: 30% 50%; */
	background-size: 100px 100px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: inline-block;
} 

#jigglypuff {
	background-image: url('https://media.giphy.com/media/fYYVe1rP4oaHe/giphy.gif');
	/* background-position: 30% 50%; */
	background-size: 100px 100px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: inline-block;
}

#red {
	background-color: rgb(206, 91, 91);
	height: 60px;
	width: 60px;
	border-radius: 50%;
	display: inline-block;
	/* position:absolute; */
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 400;
} 

#blue {
	background-color: rgb(92, 149, 245);
	height: 60px;
	width: 60px;
	border-radius: 50%;
	display: inline-block;	
	/* position:absolute; */
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
} 

#green {
	background-color: rgb(121, 176, 121);
	height: 60px;
	width: 60px;
	border-radius: 50%;
	display: inline-block;
	/* position:absolute; */
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 200;
} 

#purple {
	background-color: rgb(148, 81, 148);
	height: 60px;
	width: 60px;
	border-radius: 50%;
	display: inline-block;
	/* position:absolute; */
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 160;
}

#orange {
	background-color: rgb(240, 184, 87);
	height: 60px;
	width: 60px;
	border-radius: 50%;
	display: inline-block;
	/* position:absolute; */
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 80;
} 

#runningPikachu {
	position: absolute;
	bottom: 70px;
	left: 50%;
	width: 100px;
	height: 100px;
}

/* @keyframes backgroundScroll {
	from {background-position: 0 0;}
	to {background-position: -180px 0px;}
} */

/* @-webkit-keyframes slide {
	from { background-position: 0 0; }
	to { background-position: -400px 0; }
} */



.btn-wrap{
  margin:0 auto;
	width:100px;
	/* width: 100px; */
	/* width: 100%; */
	padding-top:50px;
	float: right;
	margin-right: 10px;
	/* margin-right: 40px; */
}

.btn-wrap1{
  margin:0 auto;
	width:100px;
	/* width: 100px; */
	/* width: 100%; */
	padding-top:50px;
	float: left;
	margin-left: 22px;
	/* margin-right: 40px; */
}

.landingButtons{
  background:#e74c3c;
  color:#FFF;
  position:relative;
  padding:15px;
  font-weight:900 !important;
  text-transform:uppercase;
  border-radius:5px;
  font:14px lato;
  opacity:0.8;
  letter-spacing:1px;
  text-decoration:none;
	box-shadow:#c0392b 0px 7px 2px,#000 0px 8px 5px;
}

.landingButtons:hover{
  opacitY:1;
}
.landingButtons:active{
  top:4px;
  box-shadow:#c0392b 0px 3px 2px,#000 0px 3px 5px;
}


.landingButtons{
  background:#e74c3c;
  color:#FFF;
  position:relative;
  padding:15px;
  font-weight:900 !important;
  text-transform:uppercase;
  border-radius:5px;
  font:14px lato;
  opacity:0.8;
  letter-spacing:1px;
  text-decoration:none;
	box-shadow:#c0392b 0px 7px 2px,#000 0px 8px 5px;
}

.landingButtons:hover{
  opacitY:1;
}
.landingButtons:active{
  top:4px;
  box-shadow:#c0392b 0px 3px 2px,#000 0px 3px 5px;
}
