.landingBox {
	/* background-color: red; */
	background-color: white;
	background-image: url('https://static1.e926.net/data/8b/22/8b22c2b446f9f539693c305d7e599ef6.gif');
	background-size: 100% 100%;
	margin: auto;
	position: relative;
	width: 500px;
	height: 500px;
	border: 1px grey solid;
	box-shadow: 1px 1px 30px 10px #ee9919;
}

#loginForm {
	margin: auto;
	width: 50%;
	height: 50%;
}

#colorAndPokemonWrapper {
	margin: auto;	
}

#red {
	background-color: red;
	height: 30px;
	width: 30px;
	border-radius: 25px;
	display: inline-block;
	position:absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
} 

#blue {
	background-color: blue;
	height: 30px;
	width: 30px;
	border-radius: 25px;
	display: inline-block;	
	position:absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
} 

#green {
	background-color: green;
	height: 30px;
	width: 30px;
	border-radius: 25px;
	display: inline-block;
	position:absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
} 

#purple {
	background-color: purple;
	height: 30px;
	width: 30px;
	border-radius: 25px;
	display: inline-block;
	position:absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#orange {
	background-color: orange;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	display: inline-block;
	position:absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 80;
} 

#charmander {
	background-image: url('https://vignette.wikia.nocookie.net/pokemon/images/4/41/004Charmander_OS_anime_2.png/revision/latest?cb=20140603214909');
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: inline-block;
} 

#squirtle {
	background-image: url('https://seeklogo.com/images/S/squirtle-logo-0E4AE193EE-seeklogo.com.png');
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: inline-block;
} 

#raichu {
	background-image: url('http://vignette3.wikia.nocookie.net/roblox-pokemon-project/images/3/33/Raichu-wallpaper.png/revision/latest?cb=20161110022821');
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: inline-block;	
} 

#bulbasaur {
	background-image: url('https://vignette.wikia.nocookie.net/pokemon/images/b/b8/001Bulbasaur_Dream.png/revision/latest?cb=20140903033758');
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: inline-block;
} 

#onyx {
	background-image: url('https://pre00.deviantart.net/959a/th/pre/f/2016/075/4/6/095_onix_by_rayo123000-d9vbjj3.png');
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: inline-block;
}
